[alias]
lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) %C(white)%s%C(reset) %C(bold red)%an%C(reset) %C(bold green)%D%C(reset)' --branches
lga = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) %C(white)%s%C(reset) %C(bold red)%an%C(reset) %C(bold green)%D%C(reset)' --all
dad = !curl https://icanhazdadjoke.com/ && git add
jdiff = difftool -t jsondiff -y

[user]
    name = Anthony Martin
    email = 38542602+anthony-c-martin@users.noreply.github.com

[help]
    autocorrect = prompt
[core]
    autocrlf = false
    editor = code --wait
    fsmonitor = true
    untrackedCache = true
[commit]
    verbose = true
[fetch]
    prune = true
    pruneTags = true
    all = true
[pull]
    rebase = true
[push]
    default = simple
    autoSetupRemote = true
[rerere]
    enabled = true
    autoupdate = true
[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true

[column]
    ui = auto
[branch]
    sort = -committerdate
[tag]
    sort = version:refname
[init]
    defaultBranch = main

[diff]
    tool = vscode
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
[difftool "vscode"]
    cmd = "code --wait --diff $LOCAL $REMOTE"
[difftool "jsondiff"]
	cmd = "npx -y json-diff $LOCAL $REMOTE"

[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
[mergetool]
    keepBackup = false
